:root {
  --section-padding: 100px;
  --primary-color: 174 151 104;
  --secondary-color: 224 220 210;
  --text-primary: 48 48 48;
  --text-accent: 104 104 104;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Alegreya", serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  width: 100%;
  vertical-align: middle;
}

.container {
  width: 90vw;
  margin: 0 auto;
  padding: 0 10px;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.bg-primary {
  background-color: rgb(var(--primary-color));
}

button {
  padding: 0.75rem 1rem;
  cursor: pointer;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: 600;
}

button.bg-primary {
  background-color: rgb(var(--primary-color));
  border: 1px solid transparent;
}

button.bg-trans {
  background-color: transparent;
  border: 1px solid #fff;
}

button.bg-primary:hover {
  background-color: #fff;
  color: #303030;
}
button.bg-trans:hover {
  background-color: #fff;
  color: #303030;
}
