body {
  height: 500vh;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #262626;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(var(--primary-color) / 80%);
  border-radius: 10px;
  border: 1px solid #262626;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--primary-color) / 60%);
}

/* header */
header {
  color: #fff;
  position: fixed;
  z-index: 999;
  font-size: 1.2rem;
}

header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

header img {
  height: 3rem;
  width: auto;
}

header .menu {
  display: none;
  padding: 5px;
  font-size: 1.4rem;
  z-index: 998;
  cursor: pointer;
  margin-right: 10px;
}

header .menu i {
  text-align: center;
  color: #686868;
}

header .navbar ul {
  display: flex;
}

header .navbar ul li {
  padding-top: 20px;
  padding-bottom: 10px;
  border-top: 3px solid transparent;
}

header .navbar ul li.active {
  border-top-color: rgb(var(--primary-color));
  color: rgb(var(--secondary-color));
}

header .navbar ul li a {
  padding: 20px;
  padding-top: 30px;
  transition: color 0.3s;
}

header .navbar ul li:not(.active) a:hover {
  color: rgb(var(--primary-color));
}

@media (max-width: 991px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
  }

  header .content {
    align-items: center;
    width: 100vw;
  }

  header .menu {
    display: unset;
  }

  header .navbar {
    position: absolute;
    width: 120vw;
    background-color: #fff;
    top: 40px;
    left: 0;
    color: #000;
    z-index: -1;
    overflow: hidden;
    max-height: 1px;
    transition: max-height 0.7s ease-out;
  }

  header .menu[show] ~ .navbar {
    max-height: 500px;
  }

  header .navbar ul {
    display: unset;
    padding: 20px;
  }

  header .navbar ul li {
    padding: 0;
    border: none;
    padding-left: 20px;
  }

  header .navbar ul li a {
    padding: 10px;
    display: grid;
  }
}

header.bg-light {
  background-color: #fff;
  color: #595959;
  box-shadow: 0px -1px 8px 0px #00000030;
}

/* hero/landing */
#home #hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center center;
  display: grid;
  align-items: center;
}

#home #hero .content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
}

#home #hero h1 {
  font-size: 3em; /*fallback for old browsers */
  font-size: clamp(2em, 0.875rem + 8.333vw, 3.5em);
  font-weight: normal;
}

#home #hero .description {
  line-height: 1.5;
}

#home #hero .buttons {
  display: flex;
  gap: 20px;
}

#home #hero .buttons button {
  font-size: initial;
}

#home #hero .scroll-down {
  position: absolute;
  width: 32px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 20px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

#home #hero .scroll-down::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0;
  -webkit-animation: scroll_down 3s ease-in-out infinite;
  -moz-animation: scroll_down 3s ease-in-out infinite;
  -o-animation: scroll_down 3s ease-in-out infinite;
  animation: scroll_down 3s ease-in-out infinite;
}

@keyframes scroll_down {
  0% {
    top: 20%;
    opacity: 0;
  }
  30% {
    top: 40%;
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
    top: 50%;
  }
}
